@import "../Root.styl"

#article-list
  font-family sans-serif
  width 100%
  background-color mainColor
  margin 0

#articleListHeader
  font-family sans-serif
  font-size 1.1em
  width 100%
  background-color mainColor
  cursor pointer
  tr
    th
      padding pd

.article
  font-family sans-serif
  font-size 1.2em
  background-color mainColor
  margin 10px 0

.article-delete
  text-align center
  width 20%
  input
    cursor pointer

.artilce-title
  text-align left
  width 60%

.artilce-value
  text-align right
  width 20%