pd = 4px
colorBack = #f5f5f5
colorFont = #424242

.btn
  padding 2*pd 3*pd
  margin-right 2*pd
  border colorFont solid 2px
  cursor pointer
  display inline-block
  text-align center
  text-decoration none
  color colorFont
  background colorBack
  font-family sans-serif
  font-size 1em
  &:hover
    color colorBack
    background colorFont