pd = 8px;
hpd = pd/2;
mainColor = #ccc
secondColor = darken(mainColor, 40)

*
  box-sizing border-box

body
  width 100%
  margin 0
  padding pd pd
  position relative
  font-family sans-serif

h1
  font-size 2em
  
table, th, td
  border 1px solid secondColor
  padding pd hpd
