#summary-panel
  font-family sans-serif
  width 100%
  background-color #ccc
  margin 10px 0

#summary-title
  display inline-block
  width 50%
  padding 0
  margin 0

#summary-summary
  display inline-block
  text-align right
  width 50%
  padding 0
  margin 0